.header{
    text-align: center;
    background-color: aquamarine;
    margin:0;
    padding:0;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
}
.title1{
    margin:0;
    padding:0;
    width: 100%;
    color: darkblue;
    border-bottom: 2px solid darkblue;
}
.subTitle1{
    color: darkblue;
    margin:0;
    padding:0;
}
.navbar{
    margin:0;
    padding:0;
}
.navmenu{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    list-style: none;
    justify-items: center;
    background-color: aquamarine;
    margin:0;
    padding:5px;
}
.navItem{
    padding:2px;
    border-radius: 5px;
    text-decoration: underline;
    color:green;
    background-color: lightblue;
    box-shadow: 5px 5px 35px black;
    cursor:pointer;
    transition: 700ms;
}
.navItem:hover{
    color:chartreuse;
    background-color: blue;
    font-size: 20px;
}